* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  background-color: rgb(26, 23, 34);
  color: white;
}
nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 80px;
  box-shadow: 0 0 10px;
  position: fixed;
  top: 0;
}
.nav-col3 {
  float: left;
  width: 33.33%;
  height: 80px;
  display: inline;
}
.logo {
  padding: 1.5%;
  margin-left: 22%;
  font-size: 2rem;
  font-family: "Cairo", sans-serif;
  letter-spacing: 2px;
}
.fa-jira {
  color: brown;
}
#home {
  color: brown;
}
.nav-col3 ul {
  width: 100%;
}
.nav-col3 ul li {
  float: left;
  list-style: none;
  padding: 5.1% 0 0 7%;
}
.nav-col3 ul li {
  font-family: "Mukta", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}
.search-container {
  margin: 4.1% 25%;
  width: 70%;
}
.search-container form {
  display: inline;
}
.search-container input {
  padding: 3%;
  border: none;
  border-radius: 7px 0 0 7px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  box-shadow: 0 0 1px;
  outline: none;
}
.search-container button {
  padding: 3%;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0 1px;
  background-color: white;
  border-radius: 0 7px 7px 0;
}
#mode {
  display: inline;
}
.fa-moon {
  float: right;
  padding: 3%;
  font-size: 1.2rem;
}
.fa-sun {
  float: right;
  padding: 3%;
  font-size: 1.2rem;
}
.dark {
  background-color: rgb(33, 37, 54);
}
.fontColor {
  color: white;
}

/* poster session stat here */

.bg-poster {
  width: 100%;
  background-image: url(images/computer-1185569.jpg);
  background-size: 100% 95vh;
  background-repeat: no-repeat;
  height: 95vh;
  background-attachment: fixed;
}
.poster-layer {
  width: 100%;
  height: 95.2vh;
  background-color: rgba(231, 226, 226, 0.4);
}

.poster-layer h2 {
  padding: 12% 0 0 10%;
  color: brown;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}
.poster-layer h1 {
  color: rgb(29, 27, 41);
  font-size: 1.5rem;
  padding: 1% 0 1% 10%;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}
#digital {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.poster-layer p {
  padding: 1% 0 0 10%;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: rgb(77, 72, 72);
}
.poster-layer button {
  width: 13%;
  margin: 3% 10%;
  padding: 1%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  background-color: rgb(173, 62, 62);
  border-radius: 8px;
  color: white;
  border: 2px solid pink;
}
.poster-layer button:hover {
  background-color: rgb(133, 31, 31);
  transition: 0.5s;
}

/* about session start here */
.aboutMe {
  width: 100%;
  padding: 7% 10% 5% 10%;
}
.aboutMe h3 {
  font-family: "Josefin Sans", sans-serif;
  color: brown;
}

.aboutMe h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  margin-top: 1%;
  font-weight: 400;
}
.aboutMe span {
  font-weight: 700;
}
.aboutMe p {
  font-family: sans-serif;
  margin-top: 1.5%;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(99, 95, 95);
}
.card {
  height: 30vh;
}
.card-fl {
  float: left;
  width: 20%;
}
.card-fr {
  float: right;
  width: 80%;
}
.card-fl img {
  width: 190px;
  height: 190px;
  border: 10px solid rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(214, 207, 207);
  border-radius: 50%;
  margin: 12%;
}
.card-fr h2 {
  margin: 3% 0 0 1%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.card-fr h5 {
  color: rgb(97, 89, 89);
  font-family: sans-serif;
  font-size: 1rem;
  margin: 2% 0 4% 1%;
}
.card-fr a {
  text-decoration: none;
  padding: 3%;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 600;
}
.insta {
  color: rgb(230, 94, 139);
}
.insta:hover {
  opacity: 0.7;
}
.git {
  color: rgb(47, 35, 54);
}
.git:hover {
  opacity: 0.7;
}
.linkin {
  color: blue;
}
.linkin:hover {
  opacity: 0.7;
}
/* education section start here  */
.edu {
  height: 117vh;
  width: 100%;
  background-image: url(images/workplace-5517762.jpg);
  background-size: 100% 117vh;
  background-repeat: no-repeat;
}
.edu-poster {
  width: 100%;
  height: 117vh;

  background-color: rgba(214, 210, 210, 0.8);
}
.edu-poster h3 {
  color: brown;
  text-align: center;
  padding-top: 5%;
  font-family: "Josefin Sans", sans-serif;
}
.edu-poster h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin: 1% 0 2% 0;
}
.row3 {
  width: 20px;
  height: 20px;
  background-color: brown;
  margin: auto;
  border-radius: 50%;
  border: 5px solid white;
}
.line {
  width: 3px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
.eduFl {
  float: left;
  width: 49%;
  height: 300px;
}
.eduNew {
  float: left;
  width: 2%;
  height: 300px;
}
.eduFr {
  float: right;
  width: 49%;
  height: 300px;
}
.er {
  text-align: right;
  padding: 0 2%;
  font-family: sans-serif;
}
.eduFl p {
  text-align: right;
  padding: 0 2%;
  font-family: sans-serif;
}
.twelth {
  text-align: right;
  padding: 15% 2% 0 0;
  font-family: sans-serif;
}
.diploma {
  padding: 11% 0 0 2%;
  font-family: sans-serif;
}
.eduFr p {
  font-family: sans-serif;
  padding: 0 0 0 2%;
  font-family: sans-serif;
}
.tenth {
  padding: 15% 0 0 2%;
  font-family: sans-serif;
}

/* counter */
.lang {
  float: left;
  width: 17%;
  padding: 5% 0 0 3%;
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
}
.counter-contener {
  width: 80%;
  float: right;
  height: 2.5vh;
  margin: 5% 2% 0 0;
  background-color: rgb(184, 169, 169);
}
#html {
  border-radius: 0 5px 5px 0;
  height: 2.5vh;
  background-color: rgb(248, 55, 7);
  border-right: 5px solid white;
}
#css {
  border-radius: 0 5px 5px 0;
  height: 2.5vh;
  background-color: rgb(223, 190, 6);
  border-right: 5px solid white;
}
#css3 {
  border-radius: 0 5px 5px 0;
  height: 2.5vh;
  background-color: rgb(56, 231, 3);
  border-right: 5px solid white;
}
#javascript {
  border-radius: 0 5px 5px 0;
  height: 2.5vh;
  background-color: rgb(184, 16, 170);
  border-right: 5px solid white;
}
#bootstrap {
  border-radius: 0 5px 5px 0;
  height: 2.5vh;
  background-color: rgb(61, 7, 207);
  border-right: 5px solid white;
}
.fa-laptop-code {
  font-size: 3rem;
  padding: 12% 0 0 45%;
  color: brown;
}
.eduFr h5 {
  text-align: center;
  color: brown;
  padding-top: 2%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}
/* project session strat here */
.project {
  width: 100%;
  height: 100vh;
  /* background-color: darkorange; */
  padding: 3% 7% 0 7%;
}
.project h2 {
  font-size: 2rem;
  text-align: center;
  color: brown;
  font-family: "Josefin Sans", sans-serif;
}
.project h1 {
  font-size: 2.7rem;
  text-align: center;
  padding-top: 1%;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}
.project span {
  font-weight: 600;
}
.projectCard {
  width: 27.33%;
  height: 225px;
  box-shadow: 0 0 1px;
  float: left;
  margin: 3%;
  padding: 2%;
  border-radius: 15px;
}
.projectCard:hover {
  background-color: rgb(250, 111, 111);
  cursor: pointer;
  transition: 1.5s;
}
.projectCard h3 {
  color: rgb(100, 2, 22);
  text-align: center;
  font-size: 2rem;
}
.projectCard p {
  padding: 10%;
  text-align: justify;
  color: rgb(90, 87, 87);
  font-family: sans-serif;
  font-size: 0.95rem;
  letter-spacing: 1px;
}

/* session stat for testmonial */
.testmonial {
  box-shadow: 0 0 1px;
  height: 88vh;
  margin-bottom: 3%;
}
.slider {
  width: 48%;
  float: left;
  margin-left: 8%;
  float: left;
}
.self {
  width: 30%;
  height: 60vh;
  margin: 7% 8% 0 0;
  float: right;
}
.self img {
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}
.slide1 {
  width: 100%;
  height: 38vh;
}
.slide2 {
  width: 100%;
  height: 38vh;
  display: none;
}
.slide3 {
  width: 100%;
  height: 38vh;
  display: none;
}
.slide4 {
  width: 100%;
  height: 38vh;
  display: none;
}
.testmonialhed h2 {
  margin: 8% 0 0 15%;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: brown;
}
.testmonialhed h1 {
  margin: 2% 0 4% 15%;
  font-size: 3rem;
  font-weight: 500;
}
.testmonialhed h1 span {
  font-weight: 600;
  display: block;
}
.testmonial-pra {
  padding: 5%;
  font-size: 1rem;
  color: rgb(168, 164, 164);
}
.testmonial-pra span {
  color: brown;
  font-size: 3rem;
  font-weight: 900;
  padding: 1%;
}
.clintimg {
  width: 100px;
  height: 100px;
  margin-left: 5%;
  border-radius: 50%;
  float: left;
}
.nm {
  margin: 5%;
}
.name {
  font-size: 1.5rem;
  padding: 0 3%;
  font-family: arial;
}
.addres {
  font-size: 1.5rem;
  color: gray;
  padding: 0 3%;
  font-family: arial;
}
#btn_a {
  margin-left: 8%;
}
.slider button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(184, 184, 184);
  margin: 4% 0.2%;
  border: none;
}
.slider button:hover {
  background-color: brown;
  cursor: pointer;
}

/* contact part statr here */
.contact {
  margin: 1% 6% 0 6%;
  height: 45vh;
  background-color: rgb(245, 242, 238);
}
.contact hr {
  width: 100%;
}
.contact-img {
  float: left;
  width: 17%;
  height: 20vh;
  margin: 5% 0 3% 5%;
}
.contact-img img {
  width: 100%;
  height: 20vh;
  border-radius: 10px;
}
.contact-content {
  float: left;
  width: 34%;
  height: 20vh;
  margin: 5% 1% 0 2%;
}
#contact-heding {
  color: black;
}
.contact-content p {
  padding-top: 7%;
  color: gray;
}
.contact-email {
  float: right;
  width: 35%;
  height: 20vh;
  margin: 5% 5% 0 1%;
}
.contact-email input {
  width: 90%;
  padding: 3.5%;
  margin: 2%;
  border: none;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
#submit {
  background-color: rgb(197, 82, 82);
  color: white;
  cursor: pointer;
}
#submit:hover {
  transition: 1s;
  background-color: rgb(158, 47, 47);
}
.footer {
  width: 100%;
  clear: both;
  margin: 2%;
}
.contact ul li {
  list-style: none;
  padding: 1%;
  display: inline;
  color: rgb(110, 105, 105);
  font-family: Arial, Helvetica, sans-serif;
}
.copyright {
  color: gray;
  font-family: sans-serif;
  padding: 1% 20%;
}
.copyright span a {
  color: brown;
  text-decoration: none;
}
